/* ==== Universal Styles ==== */
* {
    box-sizing: border-box;
}

/* ==== Element Selectors ==== */

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-transform: uppercase;
}

h2,
legend {
    color: navy;
    font-size: 1.25em;
}

legend {
    margin-bottom: 20px;
}

fieldset {
    border: none;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 0;
}

header {
    width: 90%;
    margin: auto;
}

div > h2 {
    margin-bottom: 10px;
}

div > p {
    margin-top: 0;
    text-align: center;
}

label {
    margin-bottom: 10px;
    font-size: .95em;
    color: navy;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
    background: lightblue;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: .95em;
}

/* ==== Class Selectors ==== */

.title,
.description {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    background-color: navy;
    color: white;
}



.description {
    border-bottom: 5px solid navy;
}

.second-border {
    border-top: 2px solid navy;
    margin-top: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-btn {
    flex-direction: row;
}